<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <!-- define component scan -->
    <!--	<context:component-scan base-package="vn.neo" />-->

    <!-- khai báo thread pool -->
<!--    <bean id="thread-pool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">-->
<!--        <property name="corePoolSize" value="100"/>-->
<!--        <property name="maxPoolSize" value="150"/>-->
<!--        <property name="WaitForTasksToCompleteOnShutdown" value="true"/>-->
<!--    </bean>-->
</beans>