<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%highlight{%d{yyyy-MM-dd HH:mm:ss.SSS} | %c{-10} | %thread | %p | %m%n}{FATAL=white, ERROR=red, WARN=blue, INFO=white, DEBUG=green, TRACE=blue}</Property>
        <Property name="DATA_PATTERN">%m%n</Property>
        <Property name="LOGS">logs</Property>
    </Properties>
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>


        <RollingFile name="api" fileName="${LOGS}/api.log" filePattern="${LOGS}/archive/%d{yyyy}/%d{dd}/api-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>
    <Loggers>

        <Logger name="vn.neo" level="info" additivity="false">
            <AppenderRef ref="api"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="api"/>
        </Root>
    </Loggers>
</Configuration>
